*{
    margin: 0 ;
    padding: 0 ;
}

h2 {
    color: brown;
    font-family: fantasy
}
body {
    background-color: dodgerblue;
}
ol, ul{
    list-style: outside;
}
header{
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav img{
    width: 40px;height: 40px;
    float: right;
    margin-right: 40px;
}
 nav li{
    float:left;
    list-style: none;
    display: block;
    background-color: blue;
    font-family: fantasy;
    padding: 12px;
}
nav li a{
    text-decoration: none;
}
nav {
    background-color:blue;
    width: 100%;
    overflow: auto;
}
nav li:hover{
    list-style: none;
    background-color: aqua;
    text-transform: uppercase;
    transition: 0.8s;
}
.central{
    margin-top: 40px;
    text-align: center;
}
section{
    padding-top: 80px;
}
.Flores{
    background-color: red;
    width: 250px;float: left;border-radius: 2em;
    padding: 25px;text-align: center;margin: 15px;
}
.Flores img{
    width: 150px;
    height: 200px;
}
.Flores img:hover{
    filter: brightness(0.6);
}
.Flores p{
    text-align: justify;
}
.Flores img:hover ~ div{
    background-color:blue;padding: 6px;border-radius: 2em;color:blue;
}
section h2{
    text-align: center;margin-bottom: 20px;
    color: bisque;font-family:fantasy;
}
.formulario{
    text-align: justify;color: bisque;font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}
/* -------- modificacion de los estilos dep. del dispositivo */
/* media query*/
@media (max-width:600px){
    header nav img{
        display: none;
    }
    .Flores{
        font-family: 'Courier New', Courier, monospace;
        font-size: 10px;
        background-color: rgb(0, 255, 98);
        width: 120px;
        float: left;
        margin: 5px;
        border-radius: 10px 0px 10px 0px;
    }
    .Flores img{
        width: 100px;
        height: 150px;
    }
}